name: Actualizar Noticias
on:
  schedule:
    - cron: '0 12 * * *'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Configurar Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Instalar dependencias
        run: pip install requests beautifulsoup4
      - name: Ejecutar scraper
        run: python scraper.py
      - name: Subir cambios
        run: |
          git config --global user.name 'Robot-FFAA'
          git config --global user.email 'bot@github.com'
          git add index.html
          git commit -m "Actualización automática" || exit 0
          git push
